/* .App {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgba(204, 199, 199, 0.966);
    color: rgb(5, 21, 65);
} */